<div class="container">
  <div class="content">
    <div class="header">
      <h3>{{ metric.title }}</h3>
      <img
        *ngIf="!metric.liked"
        src="../../../../assets/icons/pin-cadetblue.svg"
        alt=""
      />
      <img
        *ngIf="metric.liked"
        src="../../../../assets/icons/pin.fill-cadetblue.svg"
        alt=""
      />
    </div>
    <div class="progress-bar">
      <div class="bar">
        <div class="progress" [ngStyle]="{ width: percentage + '%' }"></div>
      </div>
      <div class="status">
        <p class="mileage">
          {{ metric.currentMileage }}/{{ metric.maxMileage }} km
        </p>
        <p class="mileage">({{ percentage | number : "1.0-1" }}%)</p>
      </div>
    </div>
  </div>
</div>
